<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Prediksi</title>
    <meta name="description" content="Simple landind page" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <!--Replace with your tailwind.css once created-->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
      rel="stylesheet"
    />
    <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
    <style>
      .gradient {
        background: linear-gradient(90deg, #08145e 0%, #93d1ee 100%);
      }
    </style>
  </head>
  <body
    class="leading-normal tracking-normal text-white gradient"
    style="font-family: 'Source Sans Pro', sans-serif-mono"
  >
    <!--Nav-->
    <nav id="header" class="fixed w-full z-30 top-0 text-white">
      <div
        class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2"
      >
        <div class="pl-4 flex items-center">
          <a
            class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
            href="#"
          >
            BADAN NARKOTIKA NASIONAL
          </a>
        </div>
        <div class="block lg:hidden pr-4">
          <button
            id="nav-toggle"
            class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            <svg
              class="fill-current h-6 w-6"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
          id="nav-content"
        >
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li class="mr-3">
              <a
                class="inline-block text-white text-xl py-2 px-4 text-black font-bold no-underline"
                href="/dataset"
                >Dataset</a
              >
            </li>
            <li class="mr-3">
              <a
                class="inline-block text-white text-xl py-2 px-4 text-black font-bold no-underline"
                href="/predict"
                >Login</a
              >
            </li>
          </ul>
        </div>
      </div>
      <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>
    <!--Hero-->
    <div class="pt-24">
      <div
        class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center"
      >
        <!--Left Col-->
        <div
          class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
        >
          <h1 class="italic my-4 text-5xl font-bold leading-tight">SELAMAT DATANG</h1>
          <p class="text-blue-50 font-serif text-2xl mb-8">
          Prediksi Perpanjangan Kontrak Karyawan Badan Narkotika Nasional
          </p>
          <p class="italic text-blue-50 font-mono text-2xl mb-8">
            "Membantu dalam menentukan status masa kontrak karyawan yang dilaksanakan dalam satu tahun sekali"
            </p>
        
          
        </div>
        <!--Right Col-->
        <div class="w-full md:w-3/5 py-16 text-center">
          <img
            class="w-50 md:w-4=/5 z-50 pl-80"
            src="https://1.bp.blogspot.com/-j4EQsMs5b5U/YInV6LwcNAI/AAAAAAAALMI/2AycokWb0Oo6zsVK1uddqvNvRmCoB1UZACLcBGAsYHQ/s600/Badan_Narkotika_Nasional.png"
          />
        </div>
      </div>
    </div>
    
    <section class="bg-white border-b py-8">
      <div id="profil" class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          Profil Perusahaan
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <p class="text-2xl text-gray-600 mb-8">
          Badan Narkotika Nasional (disingkat BNN) adalah sebuah Lembaga Pemerintah Non Kementerian (LPNK) Indonesia yang mempunyai tugas melaksanakan tugas pemerintahan di bidang pencegahan, pemberantasan penyalahgunaan dan peredaran gelap narkotika, psikotropika, prekursor dan bahan adiktif lainnya kecuali bahan adiktif untuk tembakau dan alkohol. 
        BNN dipimpin oleh seorang kepala yang bertanggung jawab langsung kepada Presiden.
        Dasar hukum BNN adalah Undang-Undang Nomor 35 tahun 2009 tentang Narkotika. 
        Sebelumnya, BNN merupakan lembaga nonstruktural yang dibentuk berdasarkan Keputusan Presiden Nomor 17 Tahun 2002, yang kemudian diganti dengan Peraturan Presiden Nomor 83 Tahun 2007.
        </p>
      </div>
    </section>
    <section class="bg-white border-b py-8">
      <div id="profil" class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          VISI
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <p class="text-2xl text-gray-600 mb-8">
          ” Visi BNN Kabupaten Sumedang adalah menjadi perwakilan BNN pusat dan Provinsi di Kabupaten Sumedang yang profesional dan mampu menyatukan dan menggerakkan seluruh komponen masyarakat, instansi pemerintah dan swasta di Kabupaten Sumedang dalam melaksanakan pencegahan dan pemberantasan penyalahgunaan dan peredaran gelap narkotika (P4GN). “
        </p>
      </div>
    </section>
    <section class="bg-white border-b py-8">
      <div id="profil" class="container max-w-5xl mx-auto m-8">
        <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">
          MISI
        </h1>
        <div class="w-full mb-4">
          <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <p class="text-2xl text-gray-600 mb-8">
          Visi BNN Kabupaten Sumedang adalah bersama instansi pemerintah terkait dan komponen masyarakat di wilayah Kabupaten Sumedang untuk :
        </p>
        <p class="text-2xl text-gray-600 mb-8">
          1. Melaksanakan pencegahan
        </p>
        <p class="text-2xl text-gray-600 mb-8">
          2. Melaksanakan pemberdayaan masyarakat
        </p>
        <p class="text-2xl text-gray-600 mb-8">
          3. Melaksanakan penjangkauan dan pendampingan
        </p>
        <p class="text-2xl text-gray-600 mb-8">
          5. Melakukan pemberantasan
        </p>
      </div>
      
    </section>
    <div>
      <p class="text-center p-3">Edited By : Silpiana Irawan</a></p>
    </div>
  </body>
</html>
