<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="https://releases.jquery.com/git/jquery-4.x-git.min.js"></script>
  </head>
  <body>
    <h1>Kalao mau login klik disini <a href="/predict">Disini gays</a></h1>
    <div class="container-fluid p-4">
      <table id="table" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Tempat Lahir</th>
            <th>Pendidikan</th>
            <th>No Hp</th>
            <th>Jabatan</th>
            <th>Penempatan</th>
            <th>Lama Kerja</th>
            <th>Kehadiran</th>
            <th>Sikap</th>
            <th>Tanggung Jawab</th>
            <th>Pencapaian</th>
            <th>Keputusan</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <td>{{ i.nama }}</td>
            <td>{{ i.jenis_kelamin}}</td>
            <td>{{ i.tempat_lahir}}</td>
            <td>{{ i.pendidikan}}</td>
            <td>{{ i.no.hp}}</td>
            <td>{{ i.jabatan}}</td>
            <td>{{ i.penempatan}}</td>
            <td>{{ i.lama_kerja}}</td>
            <td>{{ i.kehadiran}}</td>
            <td>{{ i.sikap}}</td>
            <td>{{ i.tanggung_jawab}}</td>
            <td>{{ i.pencapaian}}</td>
            <td>{{ i.keputusan}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#table").DataTable();
      });
    </script>
  </body>
</html>
